@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --greenText: #084711;
    --notoFont: "Noto Serif", serif;
}

body{
    margin: 0;
}
/* Header related */
.header{
    height: 70px;
    background-color: #295F20 !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.icon, .addIcon, .categoriesIcon{
    font-size: 45px;
    color: white;
}
.searchIcon{
    font-size: 1.5em;
    color: black;
    padding-left: 5px;
}
.sendIcon{
    font-size: 1.7em;
    color: #124020;
    padding-right: 5px;
}
.addIcon{
    margin-left: auto;
}
.categoriesIcon{
    font-size: 35px;
}
.categorySelection{
    margin-left: 10px;
}
.searchContainer{
    height: 30px;
    width: 360px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    margin-left: 15px;
    box-sizing: initial;
}
.searchInput{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
}
/*Content related*/
.content{
   margin: 1.5%;
   padding: 1.5%;
}
.newsContainer{
    margin-bottom: 2%;
}
/*News Header*/
.newsHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.newsCategory{
    font-family: var(--notoFont);
    font-weight: bold;
    font-size: 1.4em;
    color: var(--greenText);
    text-decoration: underline solid var(--greenText) 50%;
}
.actionIcon{
    font-size: 1.8em;
    color: var(--greenText);
}
/*NewsContent*/
.newsTitle{
    font-family: var(--notoFont);
    font-weight: bold;
    font-size: 2.4em;
    max-width: 90%;
}
.newsImage{
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 90%;
}
.newsDescription{
    margin-top: 10px;
    font-family: var(--notoFont);
    font-weight: 600;
}
.test{
    border: dotted red 1px;
    /* background-color: #52c43c;
    opacity: 0.7; */
}