@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --greenText: #084711;
    --notoFont: "Noto Serif", serif;
}
.PostsRow {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}
body{
    margin: 0;
}
/* Header related */
.header{
    height: 70px;
    background-color: #295F20 !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.icon, .addIcon, .categoriesIcon{
    font-size: 45px;
    color: white;
}
.searchIcon{
    font-size: 1.5em;
    color: black;
    padding-left: 5px;
}
.sendIcon{
    font-size: 1.7em;
    color: #124020;
    padding-right: 5px;
}
.addIcon{
    margin-left: auto;
}
.categoriesIcon{
    font-size: 35px;
}
.categorySelection{
    margin-left: 10px;
}
.searchContainer{
    height: 30px;
    width: 360px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    margin-left: 15px;
    box-sizing: initial;
}
.searchInput{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
}
/*Content related*/
.content{
   margin: 1.5%;
   padding: 1.5%;
}
.newsContainer, .deleteNewsContainer{
    margin-bottom: 2%;
}
/*News Header*/
.newsHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.newsCategory, .deleteNewsCategory{
    font-family: var(--notoFont);
    font-weight: bold;
    font-size: 1.4em;
    color: var(--greenText);
    text-decoration: underline solid var(--greenText) 50%;
}
.actionIcon{
    font-size: 1.8em;
    color: var(--greenText);
    margin-left: 10px;
}
/*NewsContent*/
.newsTitle, .deleteNewsTitle{
    font-family: var(--notoFont);
    font-weight: bold;
    font-size: 2.4em;
    max-width: 95%;
}
.newsImage, .deleteImage{
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 95%;
}
.newsDescription{
    margin-top: 10px;
    font-family: var(--notoFont);
    font-weight: 600;
    text-align: justify;
}
/*Forms Related*/
.forms{
    margin: 2%;
}
.formTitle{
    font-size: 2.2em;
    font-weight: bold;
    font-family: var(--notoFont);
}
/*Delete Form Related*/
.deleteImage{
    height: 450px;
}
.deleteNewsContainer{
    width: 50%;
    margin-top: 20px;
    border: solid black 0.5px;
    padding: 1%;
    margin-bottom: 10px;
}
.deleteNewsCategory{
    font-size: 1.1em;
}
.deleteNewsTitle{
    font-size: 1.7em;
}
.confirmButtonsContainer{
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding: 10px;
}
.confirmButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    background-color: lightgray;
    border-radius: 5px;
    color: white;
}
#yesOption{
    background-color: var(--greenText);
}
#noOption{
    background-color: crimson;
}
/*Create Form Related*/
.createTitle{
    font-family: var(--notoFont);
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}
.createForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.createForm > label{
    width: 50%;
    margin-top: 20px;
}
.createForm > input[type=text], .createForm > textarea, .createForm > input[type=submit], .inputImage{
    width: 50%;
    margin-top: 5px;
    border: 1px, solid lightgrey;
    border-radius: 4px;
    min-height: 40px;
    padding: 5px;
}
.createForm > textarea{
    min-height: 200px;
}
.inputImage{
    width: 50%;
    aspect-ratio: 16/9;
    margin-top: 5px;
}
.inputImage > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    border: transparent !important;
}
.createForm > input[type=submit]{
    margin-top: 30px;
    background-color: var(--greenText);
    color: white;
}
.test{
    border: dotted red 1px;
    /* background-color: #52c43c;
    opacity: 0.7; */
}